/*
 * -------------------------------------------------
 *  ILIFU cluster config file
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */

singularity {
   enabled = true
   cacheDir = "/ceph/cbio/users/katie/singularity_containers/" 
}

   env {
TRIMMOMATIC='/opt/Trimmomatic-0.36' //KL specify Trimmomatic location in singularity image
KSNP3='/usr/local/kSNP3'
FIGTREE='/opt/FigTree_v1.4.4/lib'
}
   	/*--------------------------------*
 	 *	PATHS TO EXTERNAL RESOURCES
	 *--------------------------------*/
params {
   //Path to the FASTA formatted resistance database
   	amr_db = "/ceph/cbio/users/katie/Nicol/Tychus_DBs/arg-annot-nt-v3-march2017_doc.fasta"
   //Path to FASTA formatted annotation DB (greying out for now, not actually used in alignment.nf??)
	//annot_db = ""
   //Path to the FASTA formatted virulence database
	vf_db = "/ceph/cbio/users/katie/Nicol/Tychus_DBs/KL_ecoli_stx.fsa"
   //Path to the FASTA formatted plasmid database
	plasmid_db = "/ceph/cbio/users/katie/Nicol/Tychus_DBs/KL_plsdb2019/2019_03_05_KL.fasta"

   //Path to the FASTA formatted draft databases
	draft = ""
   //Path to FASTA formatted reference genome
   	genome = "$baseDir/tutorial/reference/EcoliK-12MG1655.fa"
   // Output directory specification
   alignment_output = "tychus_alignment_output"
   alignment_out_dir = "$baseDir/" + params.alignment_output
   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
}


process {
   container = "/ceph/cbio/users/katie/singularity_containers/9ff90752d54d-2019-03-11-75bcd10cdf4c.img"
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'Main'
}

timeline	{
	enabled = true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_timeline.html"
	}
	
report		{
	enabled = true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_report.html"
	}
	
trace		{
	enabled = true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_trace.txt"
	}
	
dag		{
	enabled = true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_DAG.svg"
	}


executor{
   jobName = { "$task.tag" }
   queueSize = 20
}

params {
   max_memory = 256.GB
   max_cpus = 64
   max_time = 1000.h
}
