/*
 * -------------------------------------------------
 *  University of Cape Town HPC cluster config file
 * -------------------------------------------------
 * http://hpc.uct.ac.za/db/
 */

singularity {
   enabled = true
   cacheDir = "/scratch/DB/bio/singularity-containers" //KL need to create on HPC
}

   env {
TRIMMOMATIC='/opt/Trimmomatic-0.36' //KL specify Trimmomatic location in singularity image
}
   	/*--------------------------------*
 	 *	PATHS TO EXTERNAL RESOURCES
	 *--------------------------------*/
params {
   //Path to the FASTA formatted resistance database
   	amr_db = ""
   //Annotation DB (KL: greying out for now cause don't see it actually used in main script
	//annot_db = ""
   //Path to the FASTA formatted virulence database
	vf_db = ""
   //Path to the FASTA formatted plasmid database
	plasmid_db = ""
   //Path to the FASTA formatted draft databases
	draft = ""
   //Path to FASTA formatted genome
   	genome = "$baseDir/tutorial/reference/EcoliK-12MG1655.fa"

   //Results output directory specification
   	alignment_output = "tychus_alignment_output"
   	alignment_out_dir = "$baseDir/" + params.alignment_output
	
}


process {
   container = ""
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'UCTlong' //KL new queue name on HPC?
   clusterOptions = { "-M $params.email -m abe" }

   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
}

timeline	{
	enabled = true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_timeline.html"
	}
	
report		{
	enabled = true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_report.html"
	}
	
trace		{
	enabled = true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_trace.txt"
	}
	
dag		{
	enabled = true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_DAG.svg"
	}


executor{
   jobName = { "$task.tag" }
   queueSize = 20
}

params {
   max_memory = 256.GB
   max_cpus = 64
   max_time = 1000.h
}
